<% if (!availableGames || availableGames.length === 0) { %>
  <p class="text-center text-gray-500">No games are currently available. Create a new game to get started!</p>
<% } else { %>
  <table class="min-w-full">
    <thead>
    <tr>
      <th class="text-left border-b-[1px] border-gray-400 py-[4px]">Room name</th>
      <th class="text-left border-b-[1px] border-gray-400 py-[4px]">Players</th>
      <th class="text-center border-b-[1px] border-gray-400 py-[4px]">Join</th>
    </tr>
    </thead>
    <tbody id="available-games-list">
    <% availableGames.forEach((room) => { %>
      <tr id="game-row-<%= room.id %>">
        <td class="border-b-[1px] border-gray-400 py-[4px]">Game <%= room.id %></td>
        <td class="border-b-[1px] border-gray-400 py-[4px]"><%= room.players %> / <%= room.player_count %></td>
        <td class="text-center border-b-[1px] border-gray-400 py-[4px]">
          <% if (room.currentPlayerIsMember) { %>
            <form action="/games/<%= room.id %>/resume" method="get">
              <button class="bg-green-500 text-white py-1 px-2 rounded-sm hover:bg-green-700">Resume</button>
            </form>
          <% } else { %>
            <form action="/games/join/<%= room.id %>" method="post">
              <button class="bg-blue-500 text-white py-1 px-2 rounded-sm hover:bg-blue-700">Join</button>
            </form>
          <% } %>
        </td>
      </tr>
    <% }); %>
    </tbody>
  </table>
<% } %>
